/**
 * Body CSS
 */

 html,
 body {
   height: 100%;
 }
 
 html,
 body,
 input,
 textarea,
 button {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
 }
 
 
 /**
  * Sidebar CSS
  */
 
 #sidebar {
   background-color: #7E57C2;
   padding: 15px;
 }
 
 @media (min-width: 768px) {
   #sidebar {
     position: fixed;
     top: 0;
     bottom: 0;
     width: 180px;
     height: 100%;
     padding-top: 30px;
   }
 }
 
 
 /**
  * Content CSS
  */
 @media (min-width: 768px) {
   #content {
     margin-left: 180px;
   }
 }

.mui-btn {
  background-color: #7E57C2;
  color: #fff;
 }

 .creator {
  padding-top: 1rem;
 }

 .mui-btn#show {
    margin: 100px auto;
 }

 .mui-textfield>input:focus {
  border-color: #7E57C2;
 }

 .modal {
  max-width: 600px;
  max-height: 500px;
  margin: 100px auto;
  background-color: #fff;
  padding: 1rem;
 }

 .mui-textfield>input:invalid:not(:focus):required.mui--is-empty.mui--is-touched {
  border-bottom: 1px solid rgba(0,0,0,.26);
 }
